In [3]:
import numpy as np
import pandas as pd 
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import RobustScaler
import matplotlib.pyplot as plt

In [ ]:
train_data=pd.read_csv("train.csv")
test_data=pd.read_csv("test.csv")
df=pd.concat([train_data,test_data],axis=0)

In [5]:
df.isna().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                        15000
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       22500
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                17112
Delay_from_due_date             0
Num_of_Delayed_Payment      10500
Changed_Credit_Limit            0
Num_Credit_Inquiries         3000
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age          13500
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      6750
Payment_Behaviour               0
Monthly_Balance              1762
Credit_Score                50000
dtype: int64

In [6]:
df["Type_of_Loan"].value_counts()
# 0t Specified en fazla kredi tipidir. Bu yüzden boş değerleri bu kredi tipiyle dolduracağım.

Not Specified                                                                                                                         2112
Credit-Builder Loan                                                                                                                   1920
Personal Loan                                                                                                                         1908
Debt Consolidation Loan                                                                                                               1896
Student Loan                                                                                                                          1860
                                                                                                                                      ...
Not Specified, Mortgage Loan, Auto Loan, and Payday Loan                                                                                12
Payday Loan, Mortgage Loan, Debt Consolidation Loan, and Student Loan                                                                   12
Debt Consolidation Loan, Auto Loan, Personal Loan, Debt Consolidation Loan, Student Loan, and Credit-Builder Loan                       12
Student Loan, Auto Loan, Student Loan, Credit-Builder Loan, Home Equity Loan, Debt Consolidation Loan, and Debt Consolidation Loan      12
Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan                                                                 12
Name: Type_of_Loan, Length: 6260, dtype: int64

In [ ]:
sym = "\\`*_{}-[]()>#@+!$:;<"
col_int = ['Age','Delay_from_due_date','Num_of_Delayed_Payment','Outstanding_Debt',
           'Total_EMI_per_month','Monthly_Balance','Annual_Income']
col_str = ['Occupation','Credit_History_Age','Payment_of_Min_Amount','Credit_Score']
for i in col_int:
  for c in sym:
    df[i] = df[i].astype(str).str.replace(c,'')
for i in col_str:
  for c in sym:
    df[i] = df[i].replace(c,'')

In [8]:
# Column Type_of_Loan
df["Type_of_Loan"].fillna("Not Specified ",inplace=True)
mean_salary=df["Monthly_Inhand_Salary"].mean()
df["Monthly_Inhand_Salary"].fillna(mean_salary,inplace=True)
# Column Delay_from_due_date
df["Delay_from_due_date"]=df["Delay_from_due_date"].apply(lambda x:str(x).replace('-',''))
# Column Num_of_Delayed_Payment
df["Num_of_Delayed_Payment"]=df["Num_of_Delayed_Payment"].str.replace('_','')
df["Num_of_Delayed_Payment"]=df["Num_of_Delayed_Payment"].str.replace('-','')
df["Num_of_Delayed_Payment"]=df["Num_of_Delayed_Payment"].astype(float)
ort=df["Num_of_Delayed_Payment"].mean()
df["Num_of_Delayed_Payment"].fillna(ort,inplace=True)
df["Num_of_Delayed_Payment"]=df["Num_of_Delayed_Payment"].astype(int)
# Column Num_Credit_Inquiries
ort2=df["Num_Credit_Inquiries"].mean()
df["Num_Credit_Inquiries"].fillna(ort2,inplace=True)
# outout column Credit Score filled missing values
df["Credit_Score"].fillna(np.random.choice(df["Credit_Score"].values),inplace=True)

In [9]:
# column Credit_History_Age
df["Credit_History_Age"]=df["Credit_History_Age"].str[:2]
df["Credit_History_Age"]=df["Credit_History_Age"].astype(float)
ort3=df["Credit_History_Age"].mean()
df["Credit_History_Age"].fillna(ort3,inplace=True)
df["Credit_History_Age"]=df["Credit_History_Age"].astype(int)
# column Amount_invested_monthly
df["Amount_invested_monthly"]=df["Amount_invested_monthly"].str.replace('__','')
df["Amount_invested_monthly"]=df["Amount_invested_monthly"].astype(float)
ort4=df["Amount_invested_monthly"].mean()
df["Amount_invested_monthly"].fillna(ort4,inplace=True)
# column Monthly_Balance
df.drop(df[df["Monthly_Balance"]=='__-333333333333333333333333333__'].index,inplace=True)
df["Monthly_Balance"]=df["Monthly_Balance"].astype(float)
df['Monthly_Balance'].fillna(df['Monthly_Balance'].mean(), inplace=True)
# column Changed_Credit_Limit
df["Changed_Credit_Limit"]=df["Changed_Credit_Limit"].str.replace('_','')
df["Changed_Credit_Limit"].replace('', np.nan, inplace=True)
df["Changed_Credit_Limit"]=df["Changed_Credit_Limit"].astype(float)
df["Changed_Credit_Limit"].fillna(df["Changed_Credit_Limit"].mean(),inplace=True)

In [10]:
# column Credit_Mix
df["Credit_Mix"]=df["Credit_Mix"].str.replace("_","")
df["Credit_Mix"]=df["Credit_Mix"].str.replace("-","")
df["Credit_Mix"].replace("", np.nan, inplace=True)
df["Credit_Mix"].fillna(np.random.choice(["Good","Standart","Bad"]),inplace=True)
df["Credit_Mix"].to_csv("f.csv",index=False)
# column Outstanding_Debt
df["Outstanding_Debt"]=df["Outstanding_Debt"].str.replace('_','')
df["Outstanding_Debt"]=df["Outstanding_Debt"].astype(float)
# column Payment_of_Min_Amount
df["Payment_of_Min_Amount"]=df["Payment_of_Min_Amount"].str.replace('NM','')
df["Payment_of_Min_Amount"].replace("", np.nan, inplace=True)
df["Payment_of_Min_Amount"].fillna(np.random.choice(["0","Yes"]),inplace=True)
# column Payment_Behaviour
df["Payment_Behaviour"]=df["Payment_Behaviour"].str.replace('!','').str.replace('@','').str.replace('9','').str.replace('#','').str.replace('%','').str.replace('8','')
df["Payment_Behaviour"].replace("",np.nan,inplace=True)
df["Payment_Behaviour"].fillna(np.random.choice(["Low_spent_Large_value_payments",
"Low_spent_Medium_value_payments",
"Low_spent_Small_value_payments","High_spent_Small_value_payments","High_spent_Medium_value_payments","High_spent_Large_value_payments"]),inplace=True)
# column Occupation
df["Occupation"]=df["Occupation"].str.replace('_','')
df["Occupation"].replace("",np.nan,inplace=True)
df["Occupation"].fillna(np.random.choice(["Scientist","Teacher","Engineer","Entrepreneur","Developer","Lawyer","MediaManager","Doctor","Journalist","Manager","Accountant","Musician","Mechanic","Writer","Architect"]),inplace=True)

In [11]:
df.isna().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                        15000
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary           0
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                    0
Delay_from_due_date             0
Num_of_Delayed_Payment          0
Changed_Credit_Limit            0
Num_Credit_Inquiries            0
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age              0
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly         0
Payment_Behaviour               0
Monthly_Balance                 0
Credit_Score                50000
dtype: int64

In [12]:
df.drop(["ID","Customer_ID","Month","Name","SSN","Num_Bank_Accounts","Num_Credit_Card","Num_of_Loan","Age","Type_of_Loan"],axis=1,inplace=True)

In [30]:
df.corr()

C:\Users\kadir ortaç\AppData\Local\Temp\ipykernel_11656\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Monthly_Inhand_Salary,Interest_Rate,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Amount_invested_monthly,Monthly_Balance,Credit_Score
Monthly_Inhand_Salary,1.000000,-0.008612,-0.002043,-0.160056,-0.007208,0.242832,-0.248518,0.157197,0.240596,0.054066,0.001771,0.192710
Interest_Rate,-0.008612,1.000000,0.002443,0.003043,-0.002861,-0.011710,0.009496,-0.001023,-0.010433,-0.002033,-0.001301,-0.002591
Num_of_Delayed_Payment,-0.002043,0.002443,1.000000,0.009588,-0.000883,-0.015131,0.011348,0.000184,-0.011562,0.000100,-0.000960,-0.007748
Changed_Credit_Limit,-0.160056,0.003043,0.009588,1.000000,0.006825,-0.332102,0.453447,-0.048371,-0.401195,-0.010669,-0.002157,-0.167759
Num_Credit_Inquiries,-0.007208,-0.002861,-0.000883,0.006825,1.000000,-0.010166,0.008873,0.000076,-0.010624,-0.002032,-0.001091,-0.011126
Credit_Mix,0.242832,-0.011710,-0.015131,-0.332102,-0.010166,1.000000,-0.535914,0.070226,0.475159,0.013964,0.003680,0.387319
Outstanding_Debt,-0.248518,0.009496,0.011348,0.453447,0.008873,-0.535914,1.000000,-0.072562,-0.599647,-0.013643,-0.002660,-0.386525
Credit_Utilization_Ratio,0.157197,-0.001023,0.000184,-0.048371,0.000076,0.070226,-0.072562,1.000000,0.069313,0.003034,0.002014,0.045793
Credit_History_Age,0.240596,-0.010433,-0.011562,-0.401195,-0.010624,0.475159,-0.599647,0.069313,1.000000,0.019196,0.001650,0.371014
Amount_invested_monthly,0.054066,-0.002033,0.000100,-0.010669,-0.002032,0.013964,-0.013643,0.003034,0.019196,1.000000,-0.001444,0.011360
Monthly_Balance,0.001771,-0.001301,-0.000960,-0.002157,-0.001091,0.003680,-0.002660,0.002014,0.001650,-0.001444,1.000000,0.001575
Credit_Score,0.192710,-0.002591,-0.007748,-0.167759,-0.011126,0.387319,-0.386525,0.045793,0.371014,0.011360,0.001575,1.000000

In [14]:
df.head()

,Occupation,Annual_Income,Monthly_Inhand_Salary,Interest_Rate,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,Scientist,19114.12,1824.843333,3,3,7,11.270000,4.0,Good,809.98,26.822620,22,No,49.57494921489417,80.415295,High_spent_Small_value_payments,312.494089,Good
1,Scientist,19114.12,4190.115139,3,1,30,11.270000,4.0,Good,809.98,31.944960,18,No,49.57494921489417,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,Scientist,19114.12,4190.115139,3,3,7,10.384299,4.0,Good,809.98,28.609352,22,No,49.57494921489417,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,Scientist,19114.12,4190.115139,3,5,4,6.270000,4.0,Good,809.98,31.377862,22,No,49.57494921489417,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,Scientist,19114.12,1824.843333,3,6,30,11.270000,4.0,Good,809.98,24.797347,22,No,49.57494921489417,41.420153,High_spent_Medium_value_payments,341.489231,Good

In [15]:
df.columns

Index(['Occupation', 'Annual_Income', 'Monthly_Inhand_Salary', 'Interest_Rate',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [16]:
dumm_df=pd.get_dummies(df[["Occupation","Payment_Behaviour"]])

In [51]:
dumm_df.columns

Index(['Occupation_Accountant', 'Occupation_Architect', 'Occupation_Developer',
       'Occupation_Doctor', 'Occupation_Engineer', 'Occupation_Entrepreneur',
       'Occupation_Journalist', 'Occupation_Lawyer', 'Occupation_Manager',
       'Occupation_Mechanic', 'Occupation_MediaManager', 'Occupation_Musician',
       'Occupation_Scientist', 'Occupation_Teacher', 'Occupation_Writer',
       'Payment_Behaviour_High_spent_Large_value_payments',
       'Payment_Behaviour_High_spent_Medium_value_payments',
       'Payment_Behaviour_High_spent_Small_value_payments',
       'Payment_Behaviour_Low_spent_Large_value_payments',
       'Payment_Behaviour_Low_spent_Medium_value_payments',
       'Payment_Behaviour_Low_spent_Small_value_payments'],
      dtype='object')

In [17]:
df['Credit_Score'].replace({"Poor":0, "Standard":1, "Good":2}, inplace=True)
df['Credit_Mix'].replace({"Bad":0, "Standard":1, "Good":2}, inplace=True)
df['Payment_of_Min_Amount'].replace({"Yes":1, "0":0}, inplace=True)

In [18]:
df.drop(["Occupation","Payment_Behaviour"],axis=1,inplace=True)

In [19]:
newData=pd.concat([dumm_df,df],axis=1)

In [20]:
newData["Delay_from_due_date"]=newData["Delay_from_due_date"].str.replace('_','')

In [21]:
newData["Delay_from_due_date"]=newData["Delay_from_due_date"].astype(float)

In [22]:
newData["Annual_Income"]=newData["Annual_Income"].str.replace('_','')

In [23]:
newData["Annual_Income"]=newData["Annual_Income"].astype(float)

In [24]:
Y=newData["Credit_Score"]
X=newData.drop(['Credit_Score'],axis=1)
Y.fillna(np.random.choice(Y),inplace=True)

In [33]:
X.columns

Index(['Occupation_Accountant', 'Occupation_Architect', 'Occupation_Developer',
       'Occupation_Doctor', 'Occupation_Engineer', 'Occupation_Entrepreneur',
       'Occupation_Journalist', 'Occupation_Lawyer', 'Occupation_Manager',
       'Occupation_Mechanic', 'Occupation_MediaManager', 'Occupation_Musician',
       'Occupation_Scientist', 'Occupation_Teacher', 'Occupation_Writer',
       'Payment_Behaviour_High_spent_Large_value_payments',
       'Payment_Behaviour_High_spent_Medium_value_payments',
       'Payment_Behaviour_High_spent_Small_value_payments',
       'Payment_Behaviour_Low_spent_Large_value_payments',
       'Payment_Behaviour_Low_spent_Medium_value_payments',
       'Payment_Behaviour_Low_spent_Small_value_payments', 'Annual_Income',
       'Monthly_Inhand_Salary', 'Interest_Rate', 'Delay_from_due_date',
       'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Monthly_Balance'],
      dtype='object')

In [26]:
newData["Total_EMI_per_month"]=newData["Total_EMI_per_month"].astype(float)

In [27]:
x_train,x_test,y_train,y_test=train_test_split(X,Y, test_size=0.33,random_state=1)

In [35]:
model=RandomForestClassifier(n_estimators= 100,random_state=0)
model.fit(x_train,y_train)

RandomForestClassifier(random_state=0)

In [36]:
tahmin=model.predict(x_test)

In [37]:
model.score(x_train,y_train)

0.9999800995024876

In [38]:
model.score(x_test,y_test)

0.6662222222222223

In [39]:
confusion_matrix(y_test,tahmin)

array([[20412,  4416,  1183],
       [ 6753,  9864,   979],
       [ 2120,  1071,  2702]], dtype=int64)

In [94]:
def predict_credit_score(Accountant,Architect,Developer,
       Doctor,Engineer,Entrepreneur,
       Journalist,Lawyer,Manager,
       Mechanic,MediaManager,Musician,
       Scientist,Teacher,Writer,
       Hs_Large_vp,
       Hs_Medium_vp,
       Hs_Small_vp,
       Ls_Large_vp,
       Ls_Medium_vp,
       Ls_Small_vp, Annual_Income,
       M_Inhnd_Slry,Interest_Rate,Delay_from_due_date,
       Num_of_Delayed_Payment,Changed_Credit_Limit,
       Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,
       Credit_Utilization_Ratio,Credit_History_Age,
       Payment_of_Min_Amount,Total_EMI_per_month,
       Amount_invested_monthly,Monthly_Balance):
    data=[[Accountant,Architect,Developer,
       Doctor,Engineer,Entrepreneur,
       Journalist,Lawyer,Manager,
       Mechanic,MediaManager,Musician,
       Scientist,Teacher,Writer,
       Hs_Large_vp,
       Hs_Medium_vp,
       Hs_Small_vp,
       Ls_Large_vp,
       Ls_Medium_vp,
       Ls_Small_vp, Annual_Income,
       M_Inhnd_Slry,Interest_Rate,Delay_from_due_date,
       Num_of_Delayed_Payment,Changed_Credit_Limit,
       Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,
       Credit_Utilization_Ratio,Credit_History_Age,
       Payment_of_Min_Amount,Total_EMI_per_month,
       Amount_invested_monthly,Monthly_Balance]]
    prediction=model.predict(data)[0]
    return  prediction

In [87]:
import gradio as gr

In [ ]:
inputs=[
    gr.inputs.Radio([1,0],default=0,label="Accountant"),
    gr.inputs.Radio([1,0],default=0,label="Architect"),
    gr.inputs.Radio([1,0],default=0,label="Developer"),
    gr.inputs.Radio([1,0],default=0,label="Doctor"),
    gr.inputs.Radio([1,0],default=0,label="Engineer"),
    gr.inputs.Radio([1,0],default=0,label="Entrepreneur"),
    gr.inputs.Radio([1,0],default=0,label="Journalist"),
    gr.inputs.Radio([1,0],default=0,label="Lawyer"),
    gr.inputs.Radio([1,0],default=0,label="Manager"),
    gr.inputs.Radio([1,0],default=0,label="Mechanic"),
    gr.inputs.Radio([1,0],default=0,label="MediaManager"),
    gr.inputs.Radio([1,0],default=0,label="Musician"),
    gr.inputs.Radio([1,0],default=0,label="Scientist"),
    gr.inputs.Radio([1,0],default=0,label="Teacher"),
    gr.inputs.Radio([1,0],default=0,label="Writer"),
    gr.inputs.Radio([1,0],default=0,label="small value in high spend"),
    gr.inputs.Radio([1,0],default=0,label="medium value in high spend"),
    gr.inputs.Radio([1,0],default=0,label="large value in high spend"),
    gr.inputs.Radio([1,0],default=0,label="small value in low spend"),
    gr.inputs.Radio([1,0],default=0,label="medium value in low spend"),
    gr.inputs.Radio([1,0],default=0,label="large value in low spend"),
    gr.inputs.Slider(0, 1000000, default=50000, label="Annual Income"),
    gr.inputs.Slider(0, 10000, default=5000, label="Monthly in-hand salary"),
    gr.inputs.Slider(0, 100, default=0, label="Interest Rate as %"),
    gr.inputs.Slider(0, 100, default=0, label="Delayed days to paid"),
    gr.inputs.Slider(0, 100, default=0, label="number of delayed payment"),
    gr.inputs.Slider(-100, 100, default=0, label="Changed credit limit"),
    gr.inputs.Slider(0, 5000, default=0, label="Number of credit inquiries"),
    gr.inputs.Radio([0,1,2],default=0,label="previous paid credit status"),
    gr.inputs.Slider(0, 10000, default=0, label="Outstanding Debt"),
    gr.inputs.Slider(0, 100, default=0, label="Credit Utilization Ratio as %"),
    gr.inputs.Slider(0, 100, default=0, label="Credit History Age"),
    gr.inputs.Radio([0,1],default=0,label="Payment Of Min Amount"),
    gr.inputs.Slider(0, 20000, default=0, label="Total EMI per month"),
    gr.inputs.Slider(0, 20000, default=0, label="Amount Invested Monthly"),
    gr.inputs.Slider(0, 200000, default=0, label="Monthly Balance")]

outputs = gr.Number()

interface = gr.Interface(fn=predict_credit_score, inputs=inputs, outputs=outputs, title="Credit Score Classification", description="Enter your information to get classification  of your credit score.")
interface.launch()